@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

@font-face {
  font-family: "iransans";
  src: url(./Fonts/IRANSansWeb.ttf);
}

* {
  padding: 0;
  margin: 0;
  font-family: "iransans";

  box-sizing: border-box;
  /* font-family: "Kanit", sans-serif; */
}

body {
  height: 100vh;
  background-color: #e7eff9;
  display: flex;
  justify-content: center;
  align-items: center;
}
